page-contactus {
    .code{
        .col{
            padding:0.5rem  2rem
        }
    }

    .footer .title{
        padding: 0;

        a{
            color: #ffffff;
            text-decoration: none;
        }
    }
}
