<!-- Generated template for the HomeOilpriceComponent component -->
<div class="oilprice-iem">
    <ion-card>
        <ion-card-content>
            <ion-list >
                <ion-item>
                    <h2>今日油价</h2>
                    <p>元/升</p>
                </ion-item>
                <ion-item>
                    <h2>{{Oil95}}</h2>
                    <p>汽油95#</p>
                 </ion-item>
                 <ion-item>
                    <h2>{{Oil92}}</h2>
                    <p>汽油92#</p>
                 </ion-item>
                 <ion-item>
                    <h2>{{Oil90}}</h2>
                    <p>柴油0#</p>
                 </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</div>
