page-user {
    .user-menu{
        .img{
            width: 3rem;
            height: 4rem;
            position: relative;
            display: block;
            margin: auto;
    
            img{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                width: 100%;
            }
        }
    
        .title{
            display: block;
            text-align: center;
            padding-bottom: 1rem;
        }
    }
}
