<!-- Generated template for the UserAssetsComponent component -->
<div class="user-asstes-border">
    <ion-grid>
        <ion-row>
            <ion-col >
                <h4><b class="oilbean">油豆</b></h4>
                <span>{{availablePoint}}</span>/<span>{{totalPoint}}</span>
            </ion-col>
            <ion-col >
                <h4><b class="oilpower">油力值</b></h4>
                <span>{{availableCoin}}</span>/<span>{{totalCoin}}</span>
            </ion-col>
            <ion-col >
                <h4><b class="commission">佣金</b></h4>
                <span>{{totalCommission}}</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
