page-aboutus {
    .aboutus-item{
        text-align: justify;
        
        p{
            margin: 0;
            padding: 0;
            line-height: 1.7;
            text-indent: 2em;
        }

        p + p{
            padding: 1rem 0 0
        }
    }
}
